<!doctype html>
<html>
    
    <head>
        
        <meta charset="utf-8" />
        
        <noscript>
            <meta http-equiv="refresh" content="0; url={{ redirect_url }}" />
        </noscript>
        
        <script>
            var redirectURL = '{{ redirect_url }}';
            
            if((redirectURL.length > 0) && (redirectURL.slice(-1) == '/') && (window.location.protocol.indexOf('file') == 0)){
                redirectURL += 'index.html';
            }
            
            try {
                window.location.replace(redirectURL);    
            } 
            catch(error){
                window.location.href = redirectURL;
            }
        </script>
        
    </head>
    
    <body>
    </body>
    
</html>